
/* 
$green-pigment: #0BA13Fff;
$sacramento-state-green-3: #043F2Dff;
$green-pigment-4: #0BA13Fff;

 */

html {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {

	background-image: url(/imagenes/fondo4.png);
	background-position: center;
	background-size:cover;
	width: 100%;
	min-height: 150px;

	font-size: xx-large;
}


/* Arriba | Derecha | Abajo | Izquierda */
main {
	height: 100%;


}

body {
	min-height: 100%;
	background-color:whitesmoke;
}

.topnav {
	display: flex;
	flex-direction:row-reverse;
	justify-content:space-between;
	padding: 10px ;
	min-height: 80px;

}
.logo img {
	max-width: 30vw;
	max-height: 20vh;
}

nav a {
	text-decoration: none;
	color: white;
	border-radius: 2px;
	padding: 2px;
	margin-right: 8px;
	font-size: 3vw;
}

nav a:hover{ 
	color: black;
	background-color: white;
}

.titulo {
/* 	background-color: #999596d2; */
	display: flex;
	justify-content: center;
	margin:   10px 100px 10px 100px ;
}

.botones {

	display: flex;
	flex-direction: space-between;
	
}

.boton {
	margin: 10px;
	text-align: center;
}

.boton img {
	background-color: #0BA13Fff;
	padding: 4px;
	border-radius: 3px;
	
	width: 30vw;
	height: 25vh;
}

.boton img:hover {
	background-color: #043F2Dff;
}
