
html {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
	/*background-color: #6BD425;*/
	background-image: url(/imagenes/fondo4.png);
	background-position: center;
	background-size:cover;
	width: 100%;
	min-height: 150px;

	font-size: xx-large;
}

body {
	min-height: 100%;
	background-color:whitesmoke;
}

.topnav {
	display: flex;
	flex-direction:row-reverse;
	justify-content:space-between;
	padding: 10px ;
	min-height: 80px;

}
.logo img {
	max-width: 30vw;
	max-height: 20vh;
}


nav a {
	text-decoration: none;
	color: white;
	border-radius: 2px;
	padding: 2px;
	margin-right: 8px;
	font-size: 4vw;
}

nav a:hover{ 
	color: black;
	background-color: white;
}


main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo {
/* 	background-color: #999596d2; */
	display: flex;
	justify-content: center;
	margin:   10px 100px 10px 100px ;
}

.info  {
	display: flex;
	flex-direction: row;

	margin:0 15vw 0 15vw;
}
/* Margin */
/* Arriba | Derecha | Abajo | Izquierda */
.info p {
	max-width: 40vw;
	text-align: center;
	margin: 0 3vw 0 3vw ;
}

.integrantes {
	display: flex;
	flex-direction: space-between;
	margin: 10px;

}

.integrante { 
	display: flex;
	flex-direction: column;
	
	background-color:  #0BA13Fff;
	padding: 8px;
	border-radius: 5px;
	margin: 0 10px 0 10px;

}

.integrante img {
	width: 13vw;
	height: 29vh;
	align-self: center;
}

footer { 
	background-color: #d8d4d5d2;
	height: 100%;
}