header {
	/*background-color: #6BD425;*/
	background-image: url(/imagenes/fondo.png);
	background-position: center;
	background-size:cover;
	width: 100%;
	min-height: 150px;

	font-size: xx-large;
}

main {
	height: 100%;

}

body {
	min-height: 100%;
	background-color:whitesmoke ;
}

.topnav {
	display: flex;
	flex-direction:row-reverse;
	justify-content:space-between;
	padding: 10px ;
	min-height: 80px;;

}
nav a {
	text-decoration: none;
	color: black;
	background-color: whitesmoke;
	border-radius: 2px;
	padding: 2px;
}

nav a:hover{ 
	background-color: wheat;
}

.titulo {
/* 	background-color: #999596d2; */
	display: flex;
	justify-content: center;
	margin:   10px 100px 10px 100px ;
}

.botones {
	display: flex;
	flex-direction: space-between;


}

.boton {
	margin: 10px;
	text-align: center;
	
}

.boton img {
	
	background-color: black;
	padding: 2px;
	border-radius: 3px;
	max-width: 100%;
}



footer { 
	background-color: #d8d4d5d2;
	height: 100%;
}